@mixin user-select($attr) {
	-webkit-touch-callout: $attr;
    -webkit-user-select: $attr;
    -khtml-user-select: $attr;
    -moz-user-select: $attr;
    -ms-user-select: $attr;
    user-select: $attr;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background: #dde8e8;
	color: #000;
}

#calculator, #screen-container, .button, .spacer-button {
	border-radius: 10px;
}

#calculator{
	margin: 30px auto;
	width: 400px;
	overflow: auto;
	background: #607D8B;
	padding: 1%;
	box-shadow: 0px 20px 0px 0px #455A64;
}

#screen-container, .button, .spacer-button{
	margin: 1%;
	height: 90px;
	line-height: 90px;
	font-size: 2em;
	float: left;
	position: relative;
	top: 0;
	text-shadow: 0px -2px 0px #727272;
	@include user-select(none);
}

#screen-container{
	background: #B6B6B6;
	color: #212121;
	width: 73%;
	padding: 0 3%;
	text-align: right;
	overflow: hidden;
	box-shadow: inset 0px 5px 0px 0px #727272;
}

.button, .spacer-button{
	background: #536DFE;
	width: 23%;
}

.button{
	cursor: pointer;
	box-shadow: inset 0px -5px 0px 0px #303F9F;
	position: relative;
	color: #FFF;
	text-align: center;
	transition: all .1s ease-in-out;
	&:nth-child(4n+7){
		clear: left;
	}
	&:hover{
		background: #9C27B0;
		box-shadow: inset 0px -5px 0px 0px #7B1FA2;
	}
	&:active{
		top: 5px;
		height: 85px;
		background: #9C27B0;
		box-shadow: inset 0px 0px 0px 0px #7B1FA2;
	}
	&.clear{
		background: #E91E63;
		box-shadow: inset 0px -5px 0px 0px #C2185B;
		&:hover{
			background: #d81558;
			box-shadow: inset 0px -5px 0px 0px #ab1550;
		}
		&:active{
			top: 5px;
			height: 85px;
			box-shadow: inset 0px 0px 0px 0px #ab1550;
		}
	}
	&.eval{
		background: #CDDC39;
		box-shadow: inset 0px -5px 0px 0px #AFB42B;
		&:hover{
			background: #b2c022;
			box-shadow: inset 0px -5px 0px 0px #878a21 ;
		}
		&:active{
			top: 5px;
			height: 85px;
			box-shadow: inset 0px 0px 0px 0px #878a21;
		}
	}
	&.operator{
		background: #00BCD4;
		box-shadow: inset 0px -5px 0px 0px #0097A7;
		&:hover{
			background: #00a5bb;
			box-shadow: inset 0px -5px 0px 0px #00808e;
		}
		&:active{
			top: 5px;
			height: 85px;
			box-shadow: inset 0px 0px 0px 0px #00808e;
		}
	}
}
